<img src="images/Cover_BinanceAPI_OrderBook.png">

# The Binance API

# Order book data

## Introduction

Hello, data miners! ‚õè

The second episode of this chapter regarding the Binance API will explore just one, always useful, piece of information you can retrieve: the Order Book. If you read these articles, you are probably very familiar with the concept of an Order Book so I will not bother you with all the usual boiler-plate introduction on what is an Order Book? How Orders are matched in Finance? and bla and bla and bla.

I do not have to rank on Google so I will keep my posts as I think it's better: concise. Very few concepts per article, some small examples, and a max of 5 minutes read.

By the way, my [the last article](https://gcgrossi.github.io/NoMore_Excel_has_stopped_working/Binanceapi_intro/) on the Binance API came just before the collapse of the Terra ecosystem, with the de-peg of its stable coin UST and the annihilation of its token LUNA, which value went from 120$ to zero in record time! 

Since then, a recovery plan has been rolled out, and a new version of the coin (LUNA-2) has been released and it's trading at almost 6$ by the time I'm writing. Since the near future of this token will probably be very volatile, I think a nice, and funny aspect to cover is live monitoring.

Live monitoring comes into play in any aspect of data and is of crucial importance in many fields where the live performance of any kind of system should be evaluated on the fly, to make snap decisions (I think about Formula1 telemetry here). When I was working at CERN as a physicist of the Large Hadron Collider, I designed a (small) part of the live dashboarding system, that was able to stream the live performance of the particle detectors in the experiment, while the machine was running and taking data.

In Finance almost everything is live and stock data can be obtained with the frequency of less than minutes so it makes a perfect use case for practicing with live dashboarding. This is what we're going to attack today! 

In the next episodes, we will build a simple dashboard to stream live data from cryptocurrencies. We will start by designing the very first one: a table with the order book that is constantly updated. What stack we'll be using? You may think about something very complicated but listen to this:

**WE WILL ONLY USE PYTHON** üêç

We will leverage the power of Pandas and Jupiter Notebook widgets, so let's just create a blank Jupiter Notebook and start drawing on it like an artist with an empty canvas! FYI: this article is completely written with Jupyter Notebook!

# Retrieveing the first data

retrieving the order book for the couple LUNA/BUSD is done via the endpoint 'depth'. In the previous article, we learnt how to perform the request to get the data, so the next cell should be very familiar to you.

In [1]:
import json
import requests

r = requests.get("https://api.binance.com/api/v3/depth",params=dict(symbol="LUNABUSD"))
response = r.json()
response

{'lastUpdateId': 1556890209,
 'bids': [['3.14230000', '7.31000000'],
  ['3.14220000', '318.24000000'],
  ['3.14000000', '47.96000000'],
  ['3.13950000', '8.56000000'],
  ['3.13940000', '348.47000000'],
  ['3.13910000', '7.66000000'],
  ['3.13700000', '7.45000000'],
  ['3.13670000', '3.35000000'],
  ['3.13650000', '7.96000000'],
  ['3.13550000', '31.70000000'],
  ['3.13540000', '60.00000000'],
  ['3.13530000', '3186.93000000'],
  ['3.13520000', '46.83000000'],
  ['3.13510000', '315.42000000'],
  ['3.13500000', '346.76000000'],
  ['3.13470000', '1156.87000000'],
  ['3.13310000', '3.40000000'],
  ['3.13300000', '6.36000000'],
  ['3.13250000', '3.38000000'],
  ['3.13230000', '65.98000000'],
  ['3.13220000', '6.37000000'],
  ['3.13110000', '365.72000000'],
  ['3.13100000', '58.44000000'],
  ['3.13090000', '495.00000000'],
  ['3.13080000', '95.72000000'],
  ['3.13000000', '792.26000000'],
  ['3.12860000', '255.44000000'],
  ['3.12850000', '95.79000000'],
  ['3.12840000', '95.79000000'],
  ['3.12810000', '255.47000000'],
  ['3.12760000', '159.70000000'],
  ['3.12750000', '11.00000000'],
  ['3.12710000', '1153.34000000'],
  ['3.12660000', '95.85000000'],
  ['3.12650000', '491.43000000'],
  ['3.12640000', '105.39000000'],
  ['3.12630000', '95.86000000'],
  ['3.12580000', '159.79000000'],
  ['3.12440000', '44.78000000'],
  ['3.12420000', '9.11000000'],
  ['3.12400000', '318.46000000'],
  ['3.12330000', '191.05000000'],
  ['3.12320000', '320.17000000'],
  ['3.12310000', '96.05000000'],
  ['3.12260000', '7.70000000'],
  ['3.12000000', '1963.31000000'],
  ['3.11930000', '3.21000000'],
  ['3.11890000', '23.71000000'],
  ['3.11870000', '78.69000000'],
  ['3.11860000', '714.87000000'],
  ['3.11810000', '159.21000000'],
  ['3.11790000', '334.36000000'],
  ['3.11730000', '3.82000000'],
  ['3.11650000', '83.43000000'],
  ['3.11640000', '96.26000000'],
  ['3.11600000', '3.34000000'],
  ['3.11570000', '10.70000000'],
  ['3.11540000', '159.02000000'],
  ['3.11500000', '600.49000000'],
  ['3.11470000', '8.02000000'],
  ['3.11450000', '12.18000000'],
  ['3.11250000', '509.55000000'],
  ['3.11220000', '205.78000000'],
  ['3.11210000', '989.40000000'],
  ['3.11050000', '32.10000000'],
  ['3.11000000', '48.54000000'],
  ['3.10960000', '331.23000000'],
  ['3.10950000', '580.91000000'],
  ['3.10880000', '53.50000000'],
  ['3.10860000', '643.38000000'],
  ['3.10830000', '220.91000000'],
  ['3.10710000', '1287.37000000'],
  ['3.10700000', '11.15000000'],
  ['3.10690000', '3.98000000'],
  ['3.10640000', '580.90000000'],
  ['3.10620000', '7.74000000'],
  ['3.10600000', '6.41000000'],
  ['3.10550000', '3.98000000'],
  ['3.10530000', '3.56000000'],
  ['3.10500000', '89.52000000'],
  ['3.10490000', '45.00000000'],
  ['3.10480000', '322.08000000'],
  ['3.10420000', '3.98000000'],
  ['3.10410000', '207.30000000'],
  ['3.10330000', '580.90000000'],
  ['3.10320000', '111.65000000'],
  ['3.10240000', '1611.65000000'],
  ['3.10140000', '104.80000000'],
  ['3.10010000', '100.00000000'],
  ['3.10000000', '1850.78000000'],
  ['3.09960000', '1465.19000000'],
  ['3.09950000', '586.68000000'],
  ['3.09900000', '1345.22000000'],
  ['3.09870000', '1816.98000000'],
  ['3.09790000', '1177.61000000'],
  ['3.09710000', '1230.42000000'],
  ['3.09690000', '11.00000000'],
  ['3.09640000', '682.08000000'],
  ['3.09560000', '6.45000000'],
  ['3.09470000', '3.40000000']],
 'asks': [['3.14770000', '84.02000000'],
  ['3.14820000', '28.86000000'],
  ['3.15120000', '6.37000000'],
  ['3.15410000', '281.43000000'],
  ['3.15420000', '1366.13000000'],
  ['3.15430000', '31.69000000'],
  ['3.15680000', '53.59000000'],
  ['3.15690000', '3.19000000'],
  ['3.15740000', '20.01000000'],
  ['3.15810000', '11.00000000'],
  ['3.16000000', '38.52000000'],
  ['3.16820000', '82.63000000'],
  ['3.16840000', '165.32000000'],
  ['3.16850000', '676.71000000'],
  ['3.16860000', '10.52000000'],
  ['3.16960000', '8.98000000'],
  ['3.16990000', '327.30000000'],
  ['3.17000000', '1002.42000000'],
  ['3.17050000', '3.21000000'],
  ['3.17150000', '44.33000000'],
  ['3.17340000', '11.00000000'],
  ['3.17490000', '533.76000000'],
  ['3.17500000', '11.95000000'],
  ['3.17710000', '6.80000000'],
  ['3.17810000', '218.28000000'],
  ['3.17820000', '1517.97000000'],
  ['3.17830000', '8.00000000'],
  ['3.17860000', '7.62000000'],
  ['3.17870000', '6.37000000'],
  ['3.17910000', '107.58000000'],
  ['3.17920000', '6.33000000'],
  ['3.18000000', '398.47000000'],
  ['3.18190000', '112.16000000'],
  ['3.18290000', '25.65000000'],
  ['3.18370000', '41.00000000'],
  ['3.18430000', '3.38000000'],
  ['3.18470000', '14.10000000'],
  ['3.18500000', '11.01000000'],
  ['3.18670000', '7.91000000'],
  ['3.18720000', '8.20000000'],
  ['3.18730000', '44.11000000'],
  ['3.18790000', '399.59000000'],
  ['3.18800000', '832.34000000'],
  ['3.18870000', '11.00000000'],
  ['3.18980000', '42.74000000'],
  ['3.19000000', '512.40000000'],
  ['3.19110000', '46.75000000'],
  ['3.19140000', '586.68000000'],
  ['3.19240000', '676.17000000'],
  ['3.19380000', '1230.42000000'],
  ['3.19420000', '6.30000000'],
  ['3.19500000', '201.29000000'],
  ['3.19530000', '7.58000000'],
  ['3.19790000', '3.29000000'],
  ['3.19810000', '600.00000000'],
  ['3.19900000', '26.77000000'],
  ['3.19970000', '930.14000000'],
  ['3.19990000', '6.29000000'],
  ['3.20000000', '4181.64000000'],
  ['3.20210000', '13.75000000'],
  ['3.20320000', '57.58000000'],
  ['3.20330000', '43.89000000'],
  ['3.20400000', '11.00000000'],
  ['3.20730000', '3.38000000'],
  ['3.20890000', '3.37000000'],
  ['3.20900000', '106.85000000'],
  ['3.21000000', '646.14000000'],
  ['3.21200000', '147.66000000'],
  ['3.21230000', '7.54000000'],
  ['3.21430000', '600.00000000'],
  ['3.21470000', '676.21000000'],
  ['3.21550000', '68.19000000'],
  ['3.21600000', '15.21000000'],
  ['3.21800000', '6.30000000'],
  ['3.21930000', '25.84000000'],
  ['3.22000000', '185.80000000'],
  ['3.22120000', '676.17000000'],
  ['3.22150000', '2745.71000000'],
  ['3.22200000', '6.25000000'],
  ['3.22240000', '28.91000000'],
  ['3.22360000', '9.77000000'],
  ['3.22400000', '10.72000000'],
  ['3.22470000', '49.95000000'],
  ['3.22700000', '46.97000000'],
  ['3.22900000', '99.00000000'],
  ['3.22920000', '7.50000000'],
  ['3.23000000', '2803.67000000'],
  ['3.23050000', '3.38000000'],
  ['3.23140000', '7.80000000'],
  ['3.23460000', '11.00000000'],
  ['3.23540000', '43.46000000'],
  ['3.23660000', '4.80000000'],
  ['3.24000000', '70.12000000'],
  ['3.24080000', '9.40000000'],
  ['3.24320000', '15.45000000'],
  ['3.24340000', '20.39000000'],
  ['3.24500000', '129.37000000'],
  ['3.24520000', '11.23000000'],
  ['3.24530000', '55.05000000'],
  ['3.24620000', '7.46000000']]}

The response is always a dictionary. In this case, the "bids/asks" key is a list of lists with the holding price, and quantity values.

Let's just construct the bid and ask DataFrames by reading the "bid"/"ask" key of the response. Using the pandas method ```from_records``` the corresponding list can be transformed into a DataFrame with a snap! 

As the name suggests, with the method ```concat``` we can concatenate the two DataFrames.

In [2]:
import pandas as pd

# define the bid/ask datframes by reading the bid/ask keys of the response
# and the pandas constructor method from_records. Add also a column "side".
df_bid = pd.DataFrame.from_records(response['bids'], columns=['price', 'quantity']).astype('float')
df_bid['side'] = 'bid'

df_ask = pd.DataFrame.from_records(response['asks'], columns=['price', 'quantity']).astype('float')
df_ask['side'] = 'ask'

# concatenate the dataframes
# for the bid we first sort the dataframe in ascending order
# then we select the last 5 rows of bid and the first five of ask
df = pd.concat([df_bid.sort_values(by=['price'])[-5:], df_ask[:5]], ignore_index=True)
df

    price  quantity side
0  3.1394    348.47  bid
1  3.1395      8.56  bid
2  3.1400     47.96  bid
3  3.1422    318.24  bid
4  3.1423      7.31  bid
5  3.1477     84.02  ask
6  3.1482     28.86  ask
7  3.1512      6.37  ask
8  3.1541    281.43  ask
9  3.1542   1366.13  ask

As you can see we limited the number of entries to 5 for each table, and we sorted the bid prices in ascending order to have the effect of bid-ask matching that you often see in the order book representations.

## Representing the table in ipython widgets

We will now start working with [ipython widgets](https://ipywidgets.readthedocs.io/en/latest/examples/Widget%20List.html) library. The library has a widget that can hold HTML values, and that is really what we are looking for in this project. Why?

Not a lot of people know that pandas DataFrames have an API (meaning an entire set of functions) to style the DataFrame and export it to HTML.
There is a nice step-by-step guide on the [official website](https://pandas.pydata.org/docs/user_guide/style.html).
As a first step let's see how a DataFrame is rendered in HTML by simply creating an HTML widget and dumping the DataFrame with the ```to_html()``` method.

In [3]:
import ipywidgets as widgets

# create a jupyter widget with the table html
widgets.HTML(value=df.to_html())

HTML(value='<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></‚Ä¶

Well, it's rendered like ... a DataFrame. We can play a little bit more with the API and eliminate the index, alongside selected columns with the methods ```hide_index()``` and ```hide_columns()```. The methods return a 'style' object (basically an HTML table with some CSS) that can be rendered in Jupyter Notebooks or other engines.

In [4]:
# hiding the index and the column 'side'
# st is a 'style' object. 
st=df.style.hide_index()
st = st.hide_columns(['side'])
widgets.HTML(value=st.to_html())

HTML(value='<style type="text/css">\n</style>\n<table id="T_ee385_">\n  <thead>\n    <tr>\n      <th class="co‚Ä¶

## Draw the table in black green and red colors

Now it's time to make some cool styling. In the following cell, we are going to add colors to the table. Since the styler object is an HTML table with CSS for styling, we need to modify the CSS of the table. For those who are not familiar with CSS, I will just tell you that is a language that can select HTML elements based on some rules, and add style attributes to them. In example, I may select all the ```<p>``` tags in an HTML file and apply the style ```color:rgb(0,0,0)```. 

But how can we do that in a Pandas DataFrame? The styler object can add CSS! Using the ```set_table_styles``` method. You will need to pass a list of CSS selectors and style properties to the method to apply the desired changes. But let's see how this is translated into code:

In [5]:
# here we create a mask for selecting bid and ask
# portions of the dataframe. We will color 
# the two parts in different ways
df_mask = df.copy(deep=True)
df_mask[df['side'] == 'bid'] = 'bid'
df_mask[df['side'] == 'ask'] = 'ask'

# here we apply the style
# pass a list of dictionaries with keys 
# 'css selector' and 'properties'
s = df.style.set_table_styles([
    {'selector': 'th:not(.index_name)','props':'text-align:center; color:grey;background-color:#373737'},  # select all the headers 
    {'selector': 'td','props':'text-align:center; background-color:#2d2d2d;font-weight:bold'},  # select all table cells
    {'selector':'.bid','props':'color:#086623'}, # select all elements with class name 'bid'
    {'selector':'.ask','props':'color:red'}, # select all elements with class 'ask'
],overwrite=False)

# we set the classes of the cells to
# 'bid' or 'ask' using the mask we created
s.set_td_classes(df_mask)

In the previous cell, we created a mask DataFrame with strings 'bid' or 'ask' depending on if the cell should be colored with green (bid) or red (ask). We applied the desired style to the DataFrame. We first selected the headers (```th:not(.index_name)```) and applied some light grey and text centering. After we select all the cells (```td```) and apply a dark grey background. After we select all the cells with class names 'bid' and 'ask' (```.bid, .ask```) and color the font in green and red.

In the end, the ```set_td_classes``` sets the class of cells in the styler equal to the strings in the mask we previously created (we need it to select when in the CSS selector).

The result is pretty stylish! üòé

We can push the limit and add a final touch, by adding bars in the volume columns. Let's do that!

## We add the bars

We now add bars in the 'quantity' column, using the ```.bar``` method of the styler object. This will draw a bar in each cell, with height proportional to the value of the cell. We need to pass to the method the portion of the DataFrame we want to add bars. 

To do that we will use the pandas ```IndexSlice```, the object that is responsible for the .loc magic in pandas. Let's jump to the next cell to see the code:

In [6]:
# we initialize a pandas IndexSlice
idx = pd.IndexSlice

# we retrieve the indexes of the 'bid' portion of the
# DataFrame as a list
idxs = df.index[df['side'] == 'bid'].tolist()

# Here we use the .bar method. We provide the method
# with the subset of the Datframe to apply bars in the same
# way we would do in .loc, but using the IndexSlice.
# we also provide the color of the bar as 2nd argument
s.bar(subset=idx[:idxs[-1],'quantity'], color='#dbeac5')
s.bar(subset=idx[idxs[-1]+1:,'quantity'], color='#ff9090')

Easy peasy. In a few lines of code, we Initialize a pandas IndexSlice and we use it in the ```.bar``` method to select the portion of the DataFrame that should have bars. We also pass a custom color. The result is nice I think!

We will use the HTML of this table in the next step to fill an ipython HTML widget, but the job is pretty much done!

## Drawing the Jupyter Widget

Before drawing the widget, I add some CSS with Jupyter magic, just to have a uniform background for the widget. 

I then create a horizontal box widget with the style I created and some additional Layout and set his children to ```tab```, the HTML widget that is holding the table.

In [7]:
%%html
<style>
    .box_style{
        width:100%;
        border : 0px solid red;
        height: auto;
        background-color:#373737;
    }
</style>

In [8]:
from ipywidgets import Layout

# this is the widget holding the HTML of the table
tab = widgets.HTML(value=s.to_html())

# this is an horizontal box holding the table widget
# with some Layout an the CSS style we defined before
hBox = widgets.HBox([tab],layout=Layout(justify_content= 'center'))
hBox.add_class("box_style")

# draw the horizontal Box
hBox

HBox(children=(HTML(value='<style type="text/css">\n#T_75219_ th:not(.index_name) {\n  text-align: center;\n  ‚Ä¶

Et voil√†! Let's know put some magic on this table and animate it. üßô‚Äç‚ôÇÔ∏è

## üßô‚Äç‚ôÇÔ∏è Let the magic begin: updating the table with live data

Nothing more than wrapping up all the previous cells in a function called ```style_pipe```. The function takes a DataFrame in input and returns the styler object with all the properties we built before.

In [9]:
def style_pipe(df):
    # this is just a copy paste of the previous cells
    # the functions returns a styler objet 

    # hide index and columns
    s= df.style.hide_index().hide_columns(['side'])

    # color the cells in red, gree and apply style
    # to index and headers
    df_mask = df.copy(deep=True)
    df_mask[df['side'] == 'bid'] = 'bid'
    df_mask[df['side'] == 'ask'] = 'ask'

    s.set_table_styles([
        {'selector': 'th:not(.index_name)','props':'text-align:center; color:grey;background-color:#373737'},
        {'selector': 'td','props':'text-align:center; background-color:#2d2d2d;font-weight:bold'},
        {'selector':'.bid','props':'color:green'},
        {'selector':'.ask','props':'color:red'},
    ],overwrite=False)

    s.set_td_classes(df_mask)   

    # add the bars in the bid and ask portion
    # of the dataframe
    idxs = df.index[df['side'] == 'bid'].tolist()
    idx = pd.IndexSlice
    s.bar(subset=idx[:idxs[-1],'quantity'], color='#dbeac5')
    s.bar(subset=idx[idxs[-1]+1:,'quantity'], color='#ff9090')

    return s

Then we launch an 'infinite' loop that retrieves the data from Binance, constructs the Order Book DataFrame, and applies the style pipeline to the HTML in the ```tab``` widget we just defined. Pretty much all we did in this notebook is wrapped up!

In [10]:
# here we just repeat the process of retrieving data
# applying the style
# and overwrite the html in the tab widget

# start a long loop (not using while True 
# for obvious reasons)
count=0
while count<100:
    
    # retrieve data from Binance
    r = requests.get("https://api.binance.com/api/v3/depth",params=dict(symbol="LUNABUSD"))
    response = r.json()

    # construct the order book Dataframe
    df_bid = pd.DataFrame.from_records(response['bids'], columns=['price', 'quantity']).astype('float')
    df_bid['side'] = 'bid'

    df_ask = pd.DataFrame.from_records(response['asks'], columns=['price', 'quantity']).astype('float')
    df_ask['side'] = 'ask'

    df = pd.concat([df_bid.sort_values(by=['price'])[-5:], df_ask[:5]], ignore_index=True)
    count=count+1
    
    # updating the widget HTML after
    # having applied the style the DataFrame
    tab.value=style_pipe(df).to_html()

## Conclusion

If everything went fine, while the last cell was running, your widget got updated in real-time, by the time the loop was still processing. 

If you're having trouble or the widget do not render in HTML, check out this [video about how the table should look like](https://www.loom.com/share/cb44a7f704e34cd8a49cccd8ce1a2923).


I think this makes a lot of fun because from here we can construct a complete and even complex dashboard! And get this:

we did everything in a Jupyter Notebook, with just some basic Python and the help of HTML and CSS. I don't know you but I am sincerely impressed by how far technology has pushed itself! 

Pure Python magic! üßô‚Äç‚ôÇÔ∏è

I think next time I will add some plots to this widget! I want to see how far I can go. This always happens to me when playing with data and tech: I take a road, and I cannot see the end ... 

I want to see where it goes ... 

I want to see if I can make it to the next hill or turn.

and there I go for my adventure! 

I may come back? I don't know. 

I will be the same when back home? Never!

As Bilbo sang one time:

*The Road goes ever on and on,* <br>
*Down from the door where it began.* <br>
*Now far ahead the Road has gone,* <br>
*And I must follow, if I can,* <br>
*Pursuing it with eager feet,* <br>
*Until it joins some larger way* <br>
*Where many paths and errands meet.* <br>
*And whither then? I cannot say.*